.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 0 5px 15px rgb(0 0 0/ 10%);
}

.Dictionary input {
  width: 100%;
  padding: 10px, 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  line-height: 30px;
}
